%section.container
	.row
		-if user == current_user
			=link_to edit_user_path(current_user), :class => "btn btn-info" do
				=content_tag :i, "", :class => "icon-pencil"
		%dl
			-[:email, :name, :created_at, :updated_at, :level].each do |attr|
				%dt= attr
				%dd= user[attr]
			