-content_for :footer do
	.row-fluid
		=render "doodads/footer/copyright", :company => company
		=render "doodads/footer/externals", :externals => externals
		=render "doodads/footer/navigation", :navigation => navigation