-content_for :header do
	.row-fluid
		.span4.header-logo
			=link_to image_tag(logo), root_path
		.span8
			.header-navigation
				=render "doodads/header/nav", :navigation => navigation
				=render "doodads/header/action_nav", :actions => actions