%section.container-fluid
	.row-fluid
		.span4
			=form_tag update_material_order_path(order) do
				%legend Sales order materials
				%fieldset
					=label_tag "material_name", "Material Name"
					=text_field_tag "material[name]"
					=label_tag "material_quantity", "Amount"
					=number_field_tag "material[quantity]", "", :step => 0.001
					=label_tag "material_units", 'Units'
					=select_tag "material[units]", options_for_select(weight_units)
					=label_tag "material_price", "Price"
					.input-prepend.input-append
						%span.add-on $
						=number_field_tag "material[unit_price]", "", :step => 0.001, :class => "input-small"
						%span.add-on per unit
				%fieldset.form-actions
					=submit_tag "add material"
		.span8
			%legend= t :materials, :scope => [:material, :view, :edit]
			%ul
				-order.materials.each do |m|
					%li
						="#{m.name} -- #{m.mass} -- #{m.cost}"
						=link_to material_path(m), :method => :delete do
							=content_tag :i, "", :class => "icon-remove"