%section.hero-unit{:style => "background-image: url('#{background}');"}
	=render "doodads/hero/text", :texts => texts
	=render "doodads/hero/focus", :focus => focus
%section.container-fluid.centered
	=render "doodads/body/tabs", :tabs => tabs

