%section.container-fluid
	.row-fluid
		.span12
			%legend= t(:legend, :scope => [:plant, :view, :index])
			=link_to tsundere_for(current_user).new_plant_path, :class => "btn" do
				=content_tag :i, "", :class => "icon-star" 
				=t(:new_factory, :scope => [:plant, :view, :index])
	-plants.each do |plant|
		.row-fluid
			=render "doodads/body/tile", :tile => tilify( plant )
