%section.container-fluid
	.row-fluid.centered
		-if user_signed_in?
			-if current_user.level > 4
				=render "doodads/body/tabs", :tabs => tabify(plant, :sale, :outgoing, :inventory)
	.row-fluid.centered
		-if user_signed_in?
			-if current_user.level > 4
				=render "doodads/body/tabs", :tabs => tabify(plant, :purchase, :incoming, :edit)
	.row-fluid
		.span12
			%legend= t(:legend, :scope => [:plant, :view, :show])
			%dl
				-plant.class.attr_accessible[:default].each do |attr|
					-next if attr.blank?
					%dt= t(attr, :scope => [:plant, :model, :attributes])
					%dd= plant[attr.to_sym]

