-if user_signed_in?
	-if current_user.level > 4
		%ul
			%li=link_to "edit plant", edit_plant_path( plant)
			%li=link_to "Inventory - Unused", plant_materials_path(plant)
			%li=link_to "Sales", plant_sales_path(plant)
%dl
	-plant.class.attr_accessible[:default].each do |attr|
		-next if attr.blank?
		%dt= attr
		%dd= plant[attr.to_sym]

