=link_to plant_path(plant) do
	%h1= plant.name + " Materials"

=form_tag plant_materials_path(plant), :method => :get do
	=label_tag "start_date", "Start Date"
	=select_date starting, :prefix => :start, :start_year => 1900, :end_year => DateTime.now.year
	=label_tag "end_date", "End Date"
	=select_date ending, :prefix => :end, :start_year => 1900, :end_year => DateTime.now.year
	=submit_tag "Search"
%h1 Outgoing
%ul
	-sales.each do |name, amount|
		%li
			%dl
				%dt= name
				%dd= amount


%h1 Incoming